<!DOCTYPE html>
<html lang='en'>
<head>
  <meta charset='UTF-8'>
  <meta name='viewport' content='width=device-width, initial-scale=1.0'>
  <meta http-equiv='X-UA-Compatible' content='ie=edge'>
   <link rel='stylesheet' type='text/css' href='/styles/reset.css'>
   <link rel="stylesheet" href="https://use.fontawesome.com/87ea9562e2.css">
   <link rel='stylesheet' type='text/css' href='/styles/style.css'>

  <title>Tasks</title>
</head>
  <div class="wrapper">
  <header>
    <nav>
      <div class='logo'>Done Did it</div>
      <ul>
        <li><a href="/">Home</a></li>
        <li>About</li>
        <li><a href="/todo">To Do</a></li>
      </ul>
    </nav>
  </header>
<body>
  <div class="container">
